<the-layout>
  <div *ngIf="mural$ | async as mural">
    <h1 class="">{{ mural.title }}</h1>
    <div class="">ATTRIBUTION: {{ mural.attribution }}</div>
    <div class="mural__image-wrapper">
      <img
        class="mural__image"
        [src]="mural.src || 'https://source.unsplash.com/random'"
        [alt]="mural.alt || 'No image available. heres a random one'"
      >
    </div>
    <div>
      <h2 class="">Location</h2>
    </div>
    <!-- class="sticky top-12 z-10" -->
    <div *ngIf="mapPoints$ | async as points">
      <the-map [mapPoints]="points"></the-map>
    </div>
    <div >
      <h2 class="">Blog</h2>
      <scully-content></scully-content>
    </div>
  </div>

  <div class="">
    <h2 class="">Nearby Trees</h2>

  </div>
  <div class="nearby-trees">
    <primary-card
        *ngFor="let tree of (nearbyTrees$ | async)"
        [path]="tree.species.route"
        [title]="tree.species.name"
        [image]="{src: tree.species.src, alt: tree.species.alt}"
       ></primary-card>
       <!-- (focusHover)="currentTarget($event, tree.id)"  -->
  </div>
</the-layout>
