@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';

header {
  background-color: $primary;
  color: $white;

}

.the-header__inner {
  @include container
}

.nav-list {
  display: flex;
  justify-content: space-between;
}
