<header class="fixed w-full bg-yellow-500 pt-2 pb-2 ">
  <div class="container px-4 sm:px-0 sm:mx-auto ">
    <div class="flex justify-between ml-auto mr-auto">
      <strong>
        <a [routerLink]="'/'">{{ name }}</a>
      </strong>
      <nav class="nav">
        <ul class="flex">
          <li>
            <a
              class=""
              [routerLink]="'/'"
            >Home</a>
          </li>
          <li>
            <a
              class="ml-4"
              [routerLink]="'/about/'"
            >About</a>
          </li>
          <li>
            <a
              class="ml-4"
              [routerLink]="'/murals/'"
            >Murals</a>
          </li>
          <li>
            <a
              class="ml-4"
              [routerLink]="'/species/'"
            >Species</a>
          </li>
          <li>
            <a
              class="ml-4"
              [routerLink]="'/species/'"
            >Trees</a>
          </li>
          <li>
            <a
              class="ml-4"
              [routerLink]="'/admin/'"
            >Admin</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
