<a
  [href]="path"
  class="card"
>
  <div
    class=""
  ></div>
  <div
    class="relative transition-color flex flex-col items-stretch  h-full  rounded-md bg-gray-100 group-hover:bg-gray-200 group-focus:bg-gray-200"
  >

    <div class="primary-card__image-wrapper">
      <img
        class="primary-card__image"
        *ngIf="image && image.src; else placeholderImage"
        [src]="image.src"
        [alt]="image.alt"
      >
      <ng-template #placeholderImage>
        <img
          class="primary-card__image"
          src="https://source.unsplash.com/random"
          alt="No image available. heres a random one"
        >
      </ng-template>
    </div>
    <div class="relative p-4">
      <h3>{{ title }}</h3>
    </div>
  </div>
</a>
