/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.map-icon {
  border-radius: 50%;
  opacity: 0.5;
  background-color: tomato;
}