// Breakpoints
$breakpoints: (
  xs: 0px,
  sm: 420px,
  md: 640px,
  lg: 1024px,
  xl: 1250px,
  xxl: 1440px,
);


$grid-width: 1250px - 16px;
$border-radius: 0.5rem;

$primary: purple;
$secondary: tomato;
$highlight: gold;
$text: rgba(black, 0.8);
$white: ivory;
